:root {
    --border-color: rgb(194, 194, 194);
    --main-color: rgb(74, 170, 165);
}

body {
	background: rgb(224, 234, 249);
	background: url(../images/wooden.jpg) center;
	background-size: 100% auto; /*100% x-axis (stretch), auto on y axis (tile)*/
}

header {
	padding: 0 10%;
	background: rgb(255, 255, 255);
	position: relative;
	border-bottom: 1px solid var(--border-color);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

a {
	text-decoration: none;
	color: rgb(142, 142, 142);
}

main {
	background: rgb(255, 255, 255);
	margin: 12% 10% 7.5% 10%;
	padding: 3%;
	font-size: .9rem;
	border: 1px solid var(--border-color);
}

h1 {
	font-size: 1.5rem;
	color: var(--main-color);
}

p {
	line-height: 1.5rem;
	padding-bottom: 5%;
}

p:last-of-type {
	padding-bottom: 0;
}

hr {
	margin-bottom: 2.5%;
}

#bio-pic {
	margin: 0rem .5rem .5rem 0rem;
	width: 134px;
	height: 100px;
	background-image: url(../images/me_with_wesley_xs.jpg);
	/*background-repeat: no-repeat;*/
	background-size: 100% 100%;
}

/*.clearfix {
	content: "";
	clear: both;
	display: table;
}*/

.logo {
	color: rgb(255, 255, 255);
	background: var(--main-color);
	min-width: 20%;
	padding: 3% 2%;
	text-align: center;
	font-size: 1.3rem;
	white-space: nowrap;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

.flex-space-between {
	justify-content: space-between;
	position: relative;
}

.portfolio-container {
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.portfolio-picture {
	margin: 3% 5px;
}

.portfolio-caption {
	position: relative;
	top: -60px;
	text-align: center;
	background: var(--main-color);
	font-size: 2rem;
	color: rgb(255, 255, 255, .85);
	/*float: left;*/
	/*background: blue;*/
/*	left: 0px;
	right: 0px;*/
}

.float-left {
	float: left;
}

.navigation-links {
	padding-top: 3.67%;
	font-size: 1rem;
}

.link-separator {
	color: rgba(142, 142, 142, .5);
	padding: 0px .13rem;
}

footer {
	background: rgb(102, 102, 102);
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 2% 0 1% 0;
	border-top: 2px solid var(--main-color);
	/*position: fixed;*/
	bottom: 0;
	font-size: .8rem;
	/*left: 0px;
	right: 0px;*/
}

/*h6 {
	display: inline;
}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
	.link-separator {
		padding: 0px 1.2rem;
	}
	.logo {
		font-size: 1.45rem;
	}
	.navigation-links {
		padding-top: 3.67%;
		font-size: 1.1rem;
	}
	h1 {
		font-size: 1.75rem;
	}
	#bio-pic {
		margin: 0rem .75rem .75rem 0rem;
		width: 201px;
		height: 150px;
		background-image: url(../images/me_with_wesley_s.jpg);
	}
	main {
		font-size: .9rem;
	}
	p {
		line-height: 1.67rem;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	header {
		border-bottom: 2px solid var(--border-color);
	}
	.link-separator {
		padding: 0px 2rem;
	}
	.logo {
		font-size: 1.6rem;
	}
	.navigation-links {
		padding-top: 3.67%;
		font-size: 1.2rem;
	}
	h1 {
		font-size: 2rem;
	}
	#bio-pic {
		margin: 0rem 1rem 1rem 0rem;
		width: 268px;
		height: 200px;
		background-image: url(../images/me_with_wesley_m.jpg);
	}
	main {
		font-size: 1rem;
	}
	p {
		line-height: 1.75rem;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.link-separator {
		padding: 0px 2.5rem;
	}
	.logo {
		font-size: 1.8rem;
	}
	.navigation-links {
		padding-top: 3.67%;
		font-size: 1.3rem;
	}
	h1 {
		font-size: 2.25rem;
	}
	#bio-pic {
		margin: 0rem 1.5rem 1.5rem 0rem;
		width: 335px;
		height: 250px;
		background-image: url(../images/me_with_wesley_l.jpg);
	}
	main {
		font-size: 1.1rem;
	}
	p {
		line-height: 2rem;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	header {
		border-bottom: 3px solid var(--border-color);
	}
	.link-separator {
		padding: 0px 3rem;
	}
	.logo {
		font-size: 2rem;
	}
	.navigation-links {
		padding-top: 3.67%;
		font-size: 1.4rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	#bio-pic {
		margin: 0rem 2.25rem 2rem 0rem;
		width: 402px;
		height: 300px;
		background-image: url(../images/me_with_wesley_xl.jpg);
	}
	main {
		font-size: 1.2rem;
	}
	p {
		line-height: 2.2rem;
	}
}